<!DOCTYPE html>
<html>
<head>
    <title>Entry Gate | Smart Railway</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<header>🚪 Entry Gate Scanner</header>

<div class="container">

    <div class="card">
        <h2>Scan Ticket QR</h2>

        <form method="post" action="/gate">
            <input 
                name="ticket_id" 
                placeholder="Enter / Scan Ticket ID" 
                required
            >
            <button type="submit">Scan Ticket</button>
        </form>
    </div>

    {% if status %}
    <div class="card">
        <h2>Gate Status</h2>

        <p style="font-size:26px; font-weight:bold; color: {{ color }};">
            {{ status }}
        </p>

        {% if details %}
        <p><b>Passenger:</b> {{ details.passenger }}</p>
        <p><b>Train:</b> {{ details.train }}</p>
        <p><b>Date:</b> {{ details.date }}</p>
        {% endif %}
    </div>
    {% endif %}

    <div class="card">
        <a class="btn" href="/dashboard">⬅ Back to Dashboard</a>
    </div>

</div>

</body>
</html>
